@use "../../../presets" as *;
@use "../../../mixins" as *;

.skills {
  padding: 10px;

  &__container {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "a1 a1 a2 a3"
      "a4 a5 a5 a6"
      "a7 a8 a9 a6";
    grid-template-columns: repeat (4, 1fr);
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  @media (min-height: 691px) {
    &__container {
      grid-auto-rows: calc(33.333vh - 13.333px);
    }
  }

  @media (max-height: 690px) {
    &__container {
      grid-auto-rows: calc(230px - 13.333px);
    }
  }
}

.skill-item {
  position: relative;
  overflow: hidden;

  &:hover &__link {
    color: $color-accent;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &:hover &__overlay {
    opacity: 0.95;
  }

  &__title {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    transition: color 0.5s;
  }

  &__image {
    position: absolute;
    inset: 0;
    background-color: #2d3651;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.5s;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: #2d3651;
    opacity: 0.8;
    transition: opacity 0.5s;
  }

  &:nth-of-type(1) {
    grid-area: a1;
  }

  &:nth-of-type(1) {
    grid-area: a1;
  }

  &:nth-of-type(2) {
    grid-area: a2;
  }

  &:nth-of-type(3) {
    grid-area: a3;
  }

  &:nth-of-type(4) {
    grid-area: a4;
  }

  &:nth-of-type(5) {
    grid-area: a5;
  }

  &:nth-of-type(6) {
    grid-area: a6;
  }

  &:nth-of-type(7) {
    grid-area: a7;
  }

  &:nth-of-type(8) {
    grid-area: a8;
  }

  &:nth-of-type(9) {
    grid-area: a9;
  }
}
.btn--primary {
  width: 350px;
  background-color: rgba(45, 54, 81, 0.8);
  border: 2px solid $color-primary;
}
