@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  position: relative;

  padding: {
    top: 100px;
    bottom: 100px;
  }

  background-color: $color-gray-light;

  @include lg-md {
    padding: 80px 0;
  }
  @include md {
    padding: 60px 0;
  }

  &__container {
    z-index: 2;

    display: grid;

    @extend %container;
    gap: 100px;
    grid-template-columns: 1fr 271px;
    @include md {
      gap: 20px;
      grid-auto-flow: row;
      grid-template-columns: 1fr 271px;
    }
  }

  &__title {
    margin-bottom: 3rem;

    letter-spacing: 0.1em;

    color: $color-primary;

    font: {
      family: $font-header;
      weight: 900;
    }
    line-height: 1.2em;

    @include lg-min {
      font-size: 2.5rem;
    }
    @include lg-md {
      font-size: 2rem;
    }
    @include md {
      margin-bottom: 2.25rem;

      text-align: center;

      font-size: 1.5rem;
    }
  }

  &__wrapper {
    &--img {
      display: grid;
      align-content: center;

      justify-items: center;
    }

    &--text {
      position: relative;

      &::before {
        position: absolute;
        z-index: 31;
        top: 140px;
        right: 0;

        display: block;

        width: 0;
        height: 200px;
        margin-right: -50px;

        content: "";

        border: 1px solid rgba(197, 197, 197, 0.27);
      }
    }
  }

  &__text {
    color: $color-gray;

    @include lg-min {
      font-size: 1.125rem;
    }
    @include lg-md {
      font-size: 1rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.125rem;
    }
  }

  &__image {
    margin-top: 5px;

    max: {
      width: 100%;
      height: 480px;
    }
  }
}
