@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  padding-top: 60px;
  padding-bottom: 70px;

  text-align: center;

  background-color: $color-primary;

  &__container {
    @extend %container;
  }

  &__copy {
    display: flex;
    flex-direction: column;
  }

  &__copy--light {
    margin-right: -0.5em;
    letter-spacing: 0.33em;
    font-weight: 100;
    color: darken($color-gray, $amount: 5);
  }

  &__copy--bold {
    letter-spacing: 0.05em;
    color: $color-gray-light;
    font-weight: 700;
  }
}
.footer-social {
  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

    &::after {
      display: block;
      position: absolute;
      top: 65px;
      content: "";
      width: 75px;
      border: 1px solid darken($color-gray, $amount: 15);
    }
  }

  &__link {
    padding: 9px;
    transition: color 0.5s;

    &:hover {
      color: $color-accent;
      transition: color 0.5s;
    }
  }
}
.fab {
  font-size: 2.25rem;
}
