@use "../../presets" as *;
@use "../../mixins" as *;

// padding-top: 50px;
// padding-bottom: 70px;
// text-align: center;
// background-color: $color-primary;

.footer {
  padding-top: 50px;
  padding-bottom: 70px;

  text-align: center;

  background-color: $color-primary;

  &__container {
    @extend %container;
  }

  // .footer__copy

  &__copy {
    display: flex;
    flex-direction: column;
  }

  // .footer__copy--light

  &__copy--light {
    color: $color-gray;
  }

  &__copy--bold {
    color: $color-light;
  }
}
.footer-social {
  // .footer-social__list



  // .footer-social__item



  // .footer-social__link
}

