@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 200px;

  // &__container {
  // }
}
// .header-logo{

  // &__link {
  // }

  // &__accent {
  // }
// }
