@use "../presets" as *;
@use "../mixins" as *;

.btn {
  height: 60px;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  letter-spacing: 0.1em;
  transition: 0.5s;
}

.btn:hover,
.btn:focus {
  background-color: $color-accent;
}



.btn--primary {
  width: 350px;
  background-color: rgba($color-primary, 0.8);
  border: 2px solid $color-primary;
}

.btn--light {
  width: 250px;
  background-color: rgba($color-light, 0.1);
  border: 2px solid $color-light;
}
